.search_container img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.grouplist-column {
  justify-content: center;
}

.group-name {
  line-height: 16px;
  margin-top: 10px;
  color: white;
}
