.group_page_container {
  background-color: black;
}

.group-title {
  color: rgb(196, 69, 152);
  text-align: center;
}

.info_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  line-height: 5px;
}
.images-title {
  text-align: center;
}

.active-users {
  color: white;
  text-align: center;
}
