.slander-card-active {
  padding: 20px;
  background-color: black;
}

.slander-card {
  background-color: black;
}
.display {
  padding: 10px;
  padding-top: 20px;
  margin-top: 10px;
  background-color: black;
}

.slander_container {
  border: none;
}
