.slander-card-active {
  padding: 20px;
  background-color: black;
}

.slander-card {
  background-color: black;
}
.display {
  width: 45px;
}

.slander_container {
  border: none;
}

.slander_interactions {
  display: flex;
  justify-content: space-around;
}
